<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Xtrendence | Login</title>
        <%- include('../partials/core/head'); %>
    </head>
    <body class="page-login">
        <%- include('../partials/components/back'); %> <%-
        include('../partials/components/loading'); %> <%-
        include('../partials/components/menu'); %> <%-
        include('../partials/components/login'); %>
        <script src="/assets/js/device.js"></script>
        <script src="/assets/js/storage.js"></script>
        <script src="/assets/js/main.js"></script>
        <script src="/assets/js/caching.js"></script>
        <script src="/assets/js/background.js"></script>
    </body>
</html>
