<div id="button-menu" class="glass button-menu">
    <%- include('../icons/Bars'); %> <%- include('../icons/Chevron'); %>
</div>

<div id="menu" class="glass menu hidden">
    <a
        href="https://www.github.com/Xtrendence"
        target="_blank"
        rel="noopener noreferrer"
    >
        <div class="item">
            <div class="glass overlay"></div>
            <%- include('../icons/GitHub'); %>
            <span>GitHub</span>
        </div></a
    >
    <a href="mailto:xtrendence@gmail.com">
        <div class="item">
            <div class="glass overlay"></div>
            <%- include('../icons/Mail'); %>
            <span>Contact</span>
        </div></a
    >
    <a href="/tools">
        <div class="item">
            <div class="glass overlay"></div>
            <%- include('../icons/Tools'); %>
            <span>Tools</span>
        </div></a
    >
    <a href="/">
        <div class="item">
            <div class="glass overlay"></div>
            <%- include('../icons/Home'); %>
            <span>Home</span>
        </div></a
    >
    <a href="/login">
        <div class="item">
            <div class="glass overlay"></div>
            <%- include('../icons/User'); %>
            <span>Login</span>
        </div></a
    >
</div>

<style>
    .page-home a[href='/'] {
        display: none;
    }

    .page-tools a[href='/tools'] {
        display: none;
    }

    .button-menu {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 100;
        transition: background 0.25s, right 0.5s, border-width 0.3s,
            border-color 0.3s;
    }

    .button-menu.active {
        right: 220px;
        border-color: var(--accent-color);
        border-width: 2px;
    }

    .button-menu svg:last-of-type {
        display: none;
    }
    .button-menu.active svg:first-of-type {
        display: none;
    }
    .button-menu.active svg:last-of-type {
        display: block;
    }

    .button-menu svg {
        fill: rgb(255, 255, 255);
        height: 28px;
        width: auto;
    }
    .button-menu.active svg {
        margin-right: -3px;
    }

    #desktop .button-menu:hover {
        background: var(--accent-color);
    }

    .menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        z-index: 300;
        transition: right 0.5s;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        overflow: auto;
    }
    .menu.hidden {
        right: -200px;
    }

    .menu .item {
        width: calc(100% - 40px - 40px);
        height: 80px;
        padding: 24px 20px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 10px;
        position: relative;
    }

    .menu .item .glass {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        transition: opacity 0.25s;
    }

    .menu a:first-of-type {
        margin-top: 20px;
    }

    .menu a:last-of-type {
        margin-bottom: 20px;
    }

    .menu .item svg {
        width: calc(100% - 20px);
        height: auto;
        fill: rgb(255, 255, 255);
        z-index: 2;
        transition: fill 0.25s, opacity 0.25s;
    }

    .menu .item span {
        font-size: 20px;
        color: rgb(255, 255, 255);
        display: block;
        width: 100%;
        text-align: center;
        z-index: 2;
        transition: color 0.25s, opacity 0.25s;
    }

    #desktop .menu .item:hover .glass {
        opacity: 0.8;
    }

    #desktop .menu .item:hover svg {
        opacity: 0.6;
    }

    #desktop .menu .item:hover span {
        opacity: 0.6;
    }
</style>

<style>
    @media screen and (max-width: 580px) {
        .menu {
            width: 100vw;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            row-gap: 20px;
            column-gap: 20px;
        }
        .menu.hidden {
            right: -100vw;
        }
        .menu .item {
            width: 120px;
        }
        .menu a:first-of-type {
            margin-top: 0;
        }
        .menu a:last-of-type {
            margin-bottom: 0;
        }
        .button-menu {
            z-index: 301;
            bottom: 20px;
            top: unset;
        }
        .button-menu.active {
            right: 20px;
        }
    }
</style>

<script>
    (() => {
        const buttonMenu = document.getElementById('button-menu');
        const menu = document.getElementById('menu');
        const sections = document.getElementsByClassName('section full');

        function openMenu() {
            buttonMenu.classList.add('active');
            menu.classList.remove('hidden');

            if (window.innerWidth > 1040) {
                for (const section of sections) {
                    section.style.transition = 'width 0.5s';
                    section.style.width = 'calc(100% - 200px)';
                }
            }

            checkMenu();
        }

        function closeMenu(immediate) {
            const fullscreen = window.innerWidth <= 580;

            buttonMenu.classList.remove('active');
            menu.style.right = fullscreen ? '-100vw' : '-200px';

            for (const section of sections) {
                section.style.transition = 'width 0.5s';
                section.style.width = '100%';
                setTimeout(
                    () => {
                        section.removeAttribute('style');
                    },
                    immediate ? 0 : 500
                );
            }

            setTimeout(
                () => {
                    menu.classList.add('hidden');
                    menu.removeAttribute('style');
                },
                immediate ? 0 : 500
            );

            checkMenu();
        }

        function checkMenu() {
            setTimeout(() => {
                if (
                    buttonMenu.classList.contains('active') &&
                    menu.classList.contains('hidden')
                ) {
                    closeMenu(true);
                }
            }, 510);
        }

        document.addEventListener('click', (event) => {
            if (event.target.closest('#menu')) {
                return;
            }

            if (event.target.closest('#button-menu')) {
                return;
            }

            if (buttonMenu.getAttribute('last-click') !== null) {
                return;
            }

            if (menu.classList.contains('hidden')) {
                return;
            }

            closeMenu();
        });

        window.addEventListener('resize', () => {
            if (menu.classList.contains('hidden')) return;
            closeMenu();
        });

        buttonMenu.addEventListener('click', () => {
            if (
                buttonMenu.getAttribute('last-click') &&
                Date.now() - buttonMenu.getAttribute('last-click') < 510
            )
                return;

            buttonMenu.setAttribute('last-click', Date.now());

            setTimeout(() => {
                buttonMenu.removeAttribute('last-click');
            }, 500);

            if (menu.classList.contains('hidden')) {
                openMenu();
            } else {
                closeMenu();
            }
        });
    })();
</script>
